<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="com Tests">
  <test  name="Functional Testing">
    <classes>
      <class name="com.webservice.VerifyTitleAndTextTest"/>
      <class name="com.webservice.VerifyTitleTest"/>
      <class name="com.webservice.GroupDemoTest"/>
      <class name="com.webservice.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
